body {
	background: #E80;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: hidden;
}

#title-wrapper {
	text-align: left;
	margin-top: 34px;
	font: normal 60pt Arial;
	color: #FFFFFF;
	font-weight: 900;
	font-size: 7em;
	margin-left: 35%;
}

.fall-away {
	display: inline-block;
    opacity: 0;
	position: relative;
	height: 200px;
	-webkit-animation: drop 8s;
    animation: drop 8s;
}

span.shadow{
	position: absolute;
	color: black;
}

@-webkit-keyframes drop {
0% {
    opacity: 1;
}
50% {
    -webkit-transform: rotate(0deg); }
60% {
     -webkit-transform: rotate(300deg); }
70%  {top:0px;}
80%  {
    opacity: 1;
    top:1200px;}
90% { opacity: 0;}
}

@keyframes drop {
  0% {opacity: 1;}
  50% { transform: rotate(0deg);}
  60% { transform: rotate(300deg); }
  70%  {top:0px; }
  80%  {
    opacity: 1;
    top:1200px; }
  90% {opacity: 0;}
}
