body {
	background: black;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: hidden;
	color: red;
	position: relative;
	font-family: 'Muli', sans-serif;
	font-weight: 600;
}

#title-wrapper {
	font-size: 7em;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 50px;
}

.fall-away {
	display: inline-block;
	/*position: relative;*/
	-webkit-animation: drop 20s infinite;
	/*animation: drop 8s;*/
	transform-origin: bottom left;
	z-index: 1;
}

span.shadow{
	position: absolute;
	color: white;
	z-index: -1;
}

@-webkit-keyframes drop {
	80% {
		transform: none;
	}
	90% {
		transform: translate(12px, -5px) rotate(220deg);
	}
	100% {
		transform: translateY(500vh) rotate(-180deg);
	}
}
/*@keyframes drop {
  0% {opacity: 1;}
  50% { transform: rotate(0deg);}
  60% { transform: rotate(300deg); }
  70%  {top:0px; }
  80%  {
    opacity: 1;
    top:1200px; }
  90% {opacity: 0;}
}*/
