:root {
  --padding-rythm: 20px;
  --gap: 45px;
  --section-line: #d0d0d0;
}

body {
  background: black;
  animation: body-bg 30s infinite;
  overflow: visible;
}

@keyframes body-bg {
  0% {
    background: black;
  }

  /* 25% {
    background: linear-gradient(to top right, black, red);
  } */

  40% {
    background: red;
  }

  60% {
    background: red;
  }
  /* 
  75% {
    background: linear-gradient(to bottom left, black red);
  } */
  100% {
    background: black;
  }
}

.resume {
  background: black;
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
  max-width: 1200px;
  margin: var(--gap) auto 0 auto;
  column-gap: var(--gap);
  padding-bottom: var(--padding-rythm);
}

.resume h3 {
  font-size: 28px;
}

.resume__sidebar-top {
  background: red;
  padding: var(--padding-rythm);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  margin-bottom: var(--gap);
}

.resume__sidebar {
  grid-column: 1 / span 1;
}

.resume__mug {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.contact-info {
  padding: var(--padding-rythm);
  padding-top: 0;
  margin: 0;
}

.contact-info > dd {
  margin: 0;
}

.resume__main {
  grid-column: 2 / span 3;
}

.resume__section {
  padding: var(--padding-rythm);
  padding-left: 0;
  border-bottom: 2px solid red;
}

.resume__section > h3 {
  margin-top: 0;
}

.experience {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto auto;
  padding: var(--padding-rythm) 0;
}

.experience > h4 {
  grid-area: 1 / 1 / 1 / span 2;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  font-style: italic;
}

.experience > ul {
  margin: 0;
}

.projects > h4 {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  margin: 15px 0;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills__pair {
  display: grid;
  grid-template-columns: 80px auto;
  padding: var(--padding-rythm);
}

.skills__pair:nth-child(odd) {
  border-right: 1px solid var(--section-line);
}

.skills__pair:not(:last-of-type) {
  border-bottom: 1px solid var(--section-line);
}

.skills__pair > h4 {
  margin: 0;
  font-weight: bold;
}

.skills__pair > ul {
  margin: 0;
}
